#data-table {
	display: none;
}
.bar span {
	background: #fefefe url(../images/info-bg.gif) 0 100% repeat-x;
}
.fig0 {
	background: #747474 url(../images/bar-01-bg.gif) 0 0 repeat-y;
}
.fig1 {
	background: #65c2e8 url(../images/bar-02-bg.gif) 0 0 repeat-y;
}
.fig2 {
	background: #eea151 url(../images/bar-03-bg.gif) 0 0 repeat-y;
}