{% extends "base2.html" %}

{% block tabitems %} 
  <li><a href="bins.html">Bins- Fill Level</a></li>
  <li><a href="optimal-route.html">Optimal Route</a></li>
  <li class="active"><a href="analytics.html">Analytics</a></li>
{% endblock %}

{% block content2 %} 
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <br>
      <h4>Select bin(s) to view comparison analysis.</h4>
      <hr>
       <ul class="list-group checked-list-box">
        <!--Bins with 71- 100% fill level-->
        {% if result1 %}
          {% for bin in result1 %}
            <li style="background-color: #881001; color: #fff" class="list-group-item">
              <input type="checkbox">
              {{ bin.location_id }}{% if bin.bin_id %}, Bin {{ bin.bin_id }}{% endif %}
            </li>
          {% endfor %}
        {% endif %}

        <!--Bins with 51- 70% fill level-->
        {% if result2 %}
          {% for bin in result2 %}
            <li style="background-color: #D5B220; color: #000" class="list-group-item">
              <input type="checkbox">
              {{ bin.location_id }}{% if bin.bin_id %}, Bin {{ bin.bin_id }}{% endif %}
            </li>
          {% endfor %}
        {% endif %}

        <!--Bins with 0- 50% fill level-->
        {% if result3 %}
          {% for bin in result3 %}
            <li style="background-color: #0A5E18; color: #fff"class="list-group-item">
              <input type="checkbox">
              {{ bin.location_id }}{% if bin.bin_id %}, Bin {{ bin.bin_id }}{% endif %}
            </li>
          {% endfor %}
        {% endif %}
      </div><!--end list-group-->
    </div><!--end column-->
  </div><!--end row-->
{% endblock %}