{% load static %}
<!DOCTYPE HTML>
<HTML lang ="en-us">

<head>

	<!-- Basic Page needs -->
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta charset="utf-8"> 
		<title>Smart- Bin</title>
		<meta name="description" content="Helping NGO">
		<meta name="keywords" content="HTML, CSS, JavaScricpt">
		<meta name="revised" content="Tuesday, October 15, 2015, 8:12 pm">
		<meta name="author" content="AllOfASudden">
	
	<!-- Mobile Specific Metas-->
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta content="telephone=no" name="format-detection">

	<!-- Latest compiled and minified CSS -->
		<link href="{% static "css/bootstrap.css"%}" rel="stylesheet" type="text/css"/>

		<link href="{% static "css/analytics.css"%}" rel="stylesheet" type="text/css"/>
  
	<!-- jQuery library--->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- Latest compiled JavaScript-->
		<script src="{% static "css/bootstrap.js"%}"></script>

</head>

<body>

	<!-- Navigation-->
	<nav class="navbar navbar-default navbar-static-top">
        <div class="container-nav">
            <div class="navbar-header page-scroll">
            	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar"> 
               <ul class="nav navbar-nav navbar-right">
                   {% block navbar-items %} {% endblock %}
              </ul>
            </div>
        </div><!--end container-nav-->
	</nav>
	<!-- End Navigation -->

	{% block content %} {% endblock %}

	<footer class="footer-basic-centered">
		<p>Contact information: <a href="mailto:xyz@abc.com"><b><i>
		xyz@abc.com</i></b></a></p>
		<p>&copy; All rights reserved.</p>
	</footer>

</body>

</html>
