{% extends "base2.html" %}

{% block tabitems %} 
  <li class="active"><a href="bins.html">Bins- Fill Level</a></li>
  <li><a href="optimal-route.html">Optimal Route</a></li>
  <li><a href="analytics.html">Analytics</a></li>
{% endblock %}

{% block content2 %} 

 <div class="list-group">
  <a href="#" class="list-group-item">Location 1, Bin 1</a>
  <a href="#" class="list-group-item">Location 1, Bin 2</a>
  <a href="#" class="list-group-item">Location 2</a>
  <a href="#" class="list-group-item">Location 3</a>
  <a href="#" class="list-group-item">Location 4</a>
  <a href="#" class="list-group-item">Location 5</a>
  <a href="#" class="list-group-item">Location 6</a>
  <a href="#" class="list-group-item">Location 7</a>
</div>

{% endblock %}