{% extends "base2.html" %}

{% block tabitems %} 
  <li class="active"><a href="bins.html">Bins- Fill Level</a></li>
  <li><a href="optimal-route.html">Optimal Route</a></li>
  <li><a href="analytics.html">Analytics</a></li>
{% endblock %}

{% block content2 %} 

 <div class="list-group">
  <!--Bins with 71- 100% fill level-->
  {% if result1 %}
    {% for bin in result1 %}
      <a href="details.html" style="background-color: #881001; color: #fff" class="list-group-item">
        {{ bin.location_id }}{% if bin.bin_id %}, {{ bin.bin_id }}{% endif %}
        <span class="numberCircle">{{ bin.fill_level }}%</span>
      </a>
    {% endfor %}
  {% endif %}

  <!--Bins with 51- 70% fill level-->
  {% if result2 %}
    {% for bin in result2 %}
      <a href="details.html" style="background-color: #D5B220; color: #000" class="list-group-item">
        {{ bin.location_id }}{% if bin.bin_id %}, {{ bin.bin_id }}{% endif %}
        <span class="numberCircle">{{ bin.fill_level }}%</span>
      </a>
    {% endfor %}
  {% endif %}

  <!--Bins with 0- 50% fill level-->
  {% if result3 %}
    {% for bin in result3 %}
      <a href="details.html" style="background-color: #0A5E18; color: #fff"class="list-group-item">
        {{ bin.location_id }}{% if bin.bin_id %}, {{ bin.bin_id }}{% endif %}
        <span class="numberCircle">{{ bin.fill_level }}%</span>
      </a>
    {% endfor %}
  {% endif %}
</div><!--end list-group-->

{% endblock %}