
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=1024">
		<title>Bin Fill Levels</title>
		<link rel="stylesheet" href="charts_common.css">
		<link rel="stylesheet" href="charts.css">
	</head>
	<body>
		<div id="wrapper">
			<div class="chart">
				<h2>Bin Fill Levels</h2>
				<table id="data-table" border="1" cellpadding="10" cellspacing="0" summary="">
					<caption>Humidity in percentage</caption>
					<thead>
						<tr>
							<td>&nbsp;</td>
							<th scope="col">1st July</th>
							<th scope="col">1st Aug</th>
							<th scope="col">1st Sep</th>
							<th scope="col">1st Oct</th>
						    <th scope="col">1st Nov</th>
							
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">Lalbagh Botanical Garden</th>
							<td>5680</td>
							<td>6880</td>
							<td>5760</td>
							<td>5120</td>
							<td>2640</td>

						</tr>

						
					</tbody>
				</table>
			</div>
		</div>
		
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		
		
		<script src="chart.js"></script>
		
	</body>
</html>