{% extends "base2.html" %}

{% block head2 %} 
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js"></script>
       {{ form.media }}
{% endblock %}

{% block tabitems %} 
	<li class="active"><a href="bins.html">Bins- Fill Level</a></li>
  	<li><a href="optimal-route.html">Optimal Route</a></li>
  	<li><a href="analytics.html">Analytics</a></li>
{% endblock %}

{% block content2 %} 
<div class="row">
	<div class="col-sm-2 col-md-offset-1">
		<br>
		<ul class="nav nav-pills nav-stacked">
        	<li><a href="details_curr.html">Current Week View</a></li>
        	<li class="active"><a href="details_custom.html">Custom View</a></li>
      	</ul>
	</div><!--end column-->
	<div class="col-sm-6 col-md-offset-1">
		<br>
		<form method="post" role="form">
        {% for field in form.visible_fields %}
          <div id="div_{{ field.html_name }}" 
            class="form-group{% if field.errors %} has-error{% endif %}">
            {{ field.label_tag }}
            {{ field }}
            <div class="text-muted pull-right">
              <small>{{ field.help_text }}</small>
            </div>
            <div class="help-block">
              {{ field.errors }}
            </div>
          </div>
        {% endfor %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        {% csrf_token %}
        <div class="form-group">
          <input type="submit" value="Submit" class="btn btn-primary"/>
        </div><!--end form group-->
      </form>
	</div><!-- end column-->
</div><!--end row-->			
{% endblock %}