{% extends "base2.html" %}

{% block head2 %}
<script type="text/javascript">
window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
        title: {
            text: "Bin Fill Levels"             
        },
        animationEnabled: true,
        axisX:{      
            interval: 3
            // labelAngle : 30,
            // valueFormatString: "HHmm'hrs'"

        },
        axisY: {
            title: ""
        },
        legend: {
            verticalAlign: "bottom",
            horizontalAlign: "center"
        },

        data: [{        
            name: "Shivaji Garden Kitchen Waste Bin",
            showInLegend: true,
            legendMarkerType: "square",
            type: "area",
            color: "rgba(0,75,141,0.7)",
            markerSize: 0,
            
            dataPoints: [
            {x:new Date(2013,0,1,00,00) ,label: "1st Sep", y: 87},
            {x:new Date(2013,0,1,01,00) ,label: "2nd Sep", y: 23},
            {x:new Date(2013,0,1,02,00) ,label: "3rd Sep", y: 56},
            {x:new Date(2013,0,1,03,00) ,label: "4th Sep", y: 79},
            {x:new Date(2013,0,1,04,00) ,label: "5th Sep", y: 60},
            {x:new Date(2013,0,1,05,00) ,label: "6th Sep", y: 89},
            {x:new Date(2013,0,1,06,00) ,label: "7th Sep", y: 12},
            {x:new Date(2013,0,1,07,00) ,label: "8th Sep", y: 24},
            {x:new Date(2013,0,1,08,00) ,label: "9th Sep", y: 36},
            {x:new Date(2013,0,1,09,00) ,label: "10th Sep", y: 35},
            {x:new Date(2013,0,1,10,00) ,label: "11th Sep", y: 73},
            {x:new Date(2013,0,1,11,00) ,label: "12th Sep", y: 91},         
            {x:new Date(2013,0,1,12,00) ,label: "13th Sep", y: 99 },                
            {x:new Date(2013,0,1,13,00) ,label: "14th Sep", y: 38},
            {x:new Date(2013,0,1,14,00) ,label: "15th Sep", y: 23},
            {x:new Date(2013,0,1,15,00) ,label: "16th Sep", y: 56},
            {x:new Date(2013,0,1,16,00) ,label: "17th Sep", y: 34},
            {x:new Date(2013,0,1,17,00) ,label: "18th Sep", y: 92},
            {x:new Date(2013,0,1,18,00) ,label: "19th Sep", y: 14},
            {x:new Date(2013,0,1,19,00) ,label: "20th Sep", y: 88},
            {x:new Date(2013,0,1,20,00) ,label: "21st Sep", y: 10},
            {x:new Date(2013,0,1,21,00) ,label: "22nd Sep", y: 88},
            {x:new Date(2013,0,1,22,00) ,label: "23rd Sep", y: 26},
            {x:new Date(2013,0,1,23,00) ,label: "24th Sep", y: 18} 
            ]
        },
        {        
            name: "JayaNagar Kitchen Waste Bin",
            showInLegend: true,
            legendMarkerType: "square",
            type: "area",
            color: "rgba(40,175,101,0.6)",
            markerSize: 0,
            label: "",
            dataPoints: [

            {x:new Date(2013,0,1,00,00) , y: 55},
            {x:new Date(2013,0,1,01,00) , y: 90},
            {x:new Date(2013,0,1,02,00) , y: 83},
            {x:new Date(2013,0,1,03,00) , y: 75},
            {x:new Date(2013,0,1,04,00) , y: 42},
            {x:new Date(2013,0,1,05,00) , y: 91},
            {x:new Date(2013,0,1,06,00) , y: 63},
            {x:new Date(2013,0,1,07,00) , y: 86},
            {x:new Date(2013,0,1,08,00) , y: 44},
            {x:new Date(2013,0,1,09,00) , y: 95},
            {x:new Date(2013,0,1,10,00) , y: 21},
            {x:new Date(2013,0,1,11,00) , y: 24},         
            {x:new Date(2013,0,1,12,00) , y: 28 },                
            {x:new Date(2013,0,1,13,00) , y: 26},
            {x:new Date(2013,0,1,14,00) , y: 47},
            {x:new Date(2013,0,1,15,00) , y: 93},
            {x:new Date(2013,0,1,16,00) , y: 88},
            {x:new Date(2013,0,1,17,00) , y: 62},
            {x:new Date(2013,0,1,18,00) , y: 90},
            {x:new Date(2013,0,1,19,00) , y: 90},
            {x:new Date(2013,0,1,20,00) , y: 64},
            {x:new Date(2013,0,1,21,00) , y: 43},
            {x:new Date(2013,0,1,22,00) , y: 62},
            {x:new Date(2013,0,1,23,00) , y: 34}
            ]
          }
        ]
    });
chart.render();
}
</script> 
{% endblock %}

{% block tabitems %} 
  <li><a href="bins.html">Bins- Fill Level</a></li>
  <li><a href="optimal-route.html">Optimal Route</a></li>
  <li class="active"><a href="analytics.html">Analytics</a></li>
{% endblock %}

{% block content2 %} 
  <br>
  <div id="chartContainer" style="height: 300px; width: 100%;">
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <label for="export_id">Send export to: <span class="glyphicon glyphicon-envelope"></span></label>
        <p><input type="text" class="form-control" id="export_id">
      </div>
      <input type="radio" name="optradio"> PDF<br>
      <input type="radio" name="optradio"> EXCEL<br>
      <input type="radio" name="optradio"> CSV<br><br>
      <div class="form-group">
          <input type="submit" value="Click here to export" class="btn btn-primary"/>
      </div>
    </div><!--end column-->
  </div><!--end row-->
{% endblock %}