{% extends "base.html" %}

{% load staticfiles%}

{% block navbar-items %}
	<li><a href="#about">About Us</a></li>
{% endblock %}

{% block content %}
	<br>
	
	<div class="container">
		<!--start row 1-->
		<!--Login section-->
		<div class= "row">
			<div class="col-md-4 col-md-offset-4">
				<img class="img-responsive" style=" margin: 0 auto;" src="{% static "images/Volunteer-Icon.png"%}" alt=""></img>
				<h2 align="center"> Volunteers Login</h2>
				<form action="" method="post" role="form" >
				{% csrf_token %}
				<div class="form-group">
					<input type="text" class="form-control" name="username" placeholder="Username"><br>	
					<input type="password" class="form-control" name="password" placeholder="Password"><br>
					<button type="submit" class="btn btn-primary btn-md center-block" value="Login">Log In</button>
				</div>
			</form>		
		</div><!--end row 1-->
		<a href="bins.html">Click here to go to the page that will be displayed after log in. </a>
		<br>(I will remove this text later)
	</div><!--end container -->
	<div class="jumbotron" id="about">
		<div class="container">
			<h1 align="center">About Us</h1><hr>
			<p align="center">We are a Bangalore based NGO. We are working closely with the Municipal Corporation of Bangalore regarding collection and segregation of waste. We have over 2000 bins installed all over the city of Bangalore. Our Volunteers are not only responsible for cleaning and refilling the bins but also we teach the fellow citizens about waste segregation. This website is our tool to help our volunteers with the same.</p>
		</div><!--end container-->
	</div><!--end jumbotron-->

{% endblock %}
