{% load static %}
<!DOCTYPE HTML>
<HTML lang ="en-us">

<head>

  <!-- Basic Page needs -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8"> 
    <title>Smart- Bin</title>
    <meta name="description" content="Helping NGO">
    <meta name="keywords" content="HTML, CSS, JavaScricpt">
    <meta name="revised" content="Tuesday, October 15, 2015, 8:12 pm">
    <meta name="author" content="AllOfASudden">
  
  <!-- Mobile Specific Metas-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta content="telephone=no" name="format-detection">

  <!-- Latest compiled and minified CSS -->
    <link href="{% static "css/bootstrap.css"%}" rel="stylesheet" type="text/css"/>

  <!-- jQuery library-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

  <!-- Latest compiled JavaScript-->
    <script src="{% static "css/bootstrap.js"%}"></script>

  <style>
    html, body {
      height: 100%;
    }

    #map {
      height: 100%;
      float: left;
      width: 63%;
    }
    
    #right-panel {
      float: right;
      width: 34%;
      height: 100%;
    }

    #right-panel select, #right-panel input {
      font-size: 15px;
    }

    #right-panel select {
      width: 100%;
    }

    #right-panel i {
      font-size: 12px;
    }

    .panel {
        height: 100%;
        overflow: auto;
    }
  </style>
</head>

<body>

  <!-- Navigation-->
  <nav class="navbar navbar-default navbar-static-top">
        <div class="container-nav">
            <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar"> 
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/account/logout">Log Out</a></li>
              </ul>
            </div>
      </div><!--end container-nav-->
  </nav>
  <!-- End Navigation -->

  <ul class="nav nav-tabs nav-justified">
    <li><a href="bins.html">Bins- Fill Level</a></li>
    <li class="active"><a href="optimal-route.html">Optimal Route</a></li>
    <li><a href="analytics.html">Analytics</a></li>
  </ul>

  <br>

  <div class="row">
    <div class="col-sm-10 col-md-offset-1">
    <h4 style="color: ">Showing the optimal route to refill bins having fill level > 70%</h4>
    <hr>
    </div>
  </div>

  <div id="map"></div>
  
  <div id="right-panel">
    <p>Total Distance: <span id="total"></span></p>
  </div>

  <script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: {lat: 12.9667, lng: 77.5667}  
      });

      var directionsService = new google.maps.DirectionsService;
      var directionsDisplay = new google.maps.DirectionsRenderer({
        draggable: true,
        map: map,
        panel: document.getElementById('right-panel')
      });

      directionsDisplay.addListener('directions_changed', function() {
        computeTotalDistance(directionsDisplay.getDirections());
      });

      displayRoute('Kalyan Nagar, Bengaluru', 'Bangalore University, Bengaluru', directionsService,
          directionsDisplay);
    }

    function displayRoute(origin, destination, service, display) {
      service.route({
        origin: origin,
        destination: destination,
        waypoints: [{location: 'Shivaji Garden, Bengaluru'}, {location: 'Mayo Hall, Bengaluru'}, {location: 'Jayanagar, Bengaluru'}, {location: 'Lalbagh Botanical garden, Bengaluru'}],
        travelMode: google.maps.TravelMode.DRIVING,
        avoidTolls: true
      }, function(response, status) {
        if (status === google.maps.DirectionsStatus.OK) {
          display.setDirections(response);  
        } else {
          alert('Could not display directions due to: ' + status);
        }
      });
    }

    function computeTotalDistance(result) {
      var total = 0;
      var myroute = result.routes[0];
      for (var i = 0; i < myroute.legs.length; i++) {
        total += myroute.legs[i].distance.value;
      }
      total = total / 1000;
      document.getElementById('total').innerHTML = total + ' km';
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCk3OrfyQsrs2RALdt8gkhxBnpJAC9z9DI&signed_in=true&callback=initMap"
      async defer>
  </script>
</body>
</html>